body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(36deg,#c42b2b,#bc6c0a,#ffc800);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#form {
    background-color: #fff9f1;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
#form input[type="text"],
#form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid  #fff9f1;
    border-radius: 5px;
}
#form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #eba210;
    
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#produtos {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#produtos h2 {
    color: #333;
}
#produtos ul {
    list-style: none;
    padding: 0;
}
#produtos li {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}
#produtos button {
    background-color: #ff3d00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

